<ion-row>
  <ion-col size="12">

    <ion-button (click)="playPolyNote('c4')
    " expand="block" fill="clear" shape="round">
      Play Note
    </ion-button>
    <ion-button (click)="togglePattern()
    " expand="block" fill="clear" shape="round">
      Toggle Pattern
    </ion-button>
    <ion-label>Filter frequency</ion-label>
    <ion-range
      min="0" max="1000" 
      pin="true"
      snaps="true" step="1"
      ticks="true" value="0"
      color="primary"
      (ionChange)="updateFilter()"
      [(ngModel)]="this.filterFrequency">
    </ion-range>
  </ion-col>
</ion-row>